:root {
    --main-color: #e38528;
}

body {
    background: #fcf2e8;
    padding-left: 300px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    padding: 80px 20px;
    width: 300px;
    text-align: center;


}

.logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
}

.logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

.navbar a {
    display: block;
    font-size: 18px;
    color: #fff;
    margin: 25px 0;
    text-decoration: none;

}

.navbar a:hover {
    letter-spacing: 2px;
    color: var(--main-color);
}

.button1,
.button2 {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: var(--main-color);
    text-transform: uppercase;
}

.button1:hover {
    background: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}

#menu-bars{
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background: var(--main-color);
    color: #fff;
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.homepage {
    align-items: center;
    padding: 150px;
    padding-top: 100px;
    padding-left: 410px;
    padding-bottom: 100px;
}



h3 {
    color: var(--main-color);
}

 h1 {
    color: #222;
    font-size: 40px;
    font-weight: bolder;
}

 h1 span {
    color: var(--main-color);
}

h2 {
    font-family: 'Times New Roman';
    color: #222;

}

.button2:hover {
    background: transparent;
    border-color: #222;
    color: #222;

}

img {
    opacity: 1;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #222;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%);
}

.about img {
    height: 500px;
    width: auto;

}

.button3{
    padding:10px 10px ;
    border-radius: 30px;
    background-color: var(--main-color);
    cursor: pointer;
    font-weight: bolder;
    margin-top: 20px;
    color: #fcf2e8;
}

.button3:hover {
    background: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}

.text {
    width: 550px;
}

.first,
.second,
.third {
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text h1 {
    text-transform: capitalize;
    color: #fff;
    font-size: 50px;
    font-family: Arial;
    margin-bottom: 20px;
}

.text h1 span {
    color: var(--main-color);
}

.text p {
    font-size: 15px;
    font-family: 'Times New Roman';
    color: #fcf2e8;
    letter-spacing: 1px;
}

.services {
    width: 100%;
    padding: 100px 0px;
    background-color: #fcf2e8;

}

.services h1 {
    color: var(--main-color);
    font-size: 50px;
    font-family: Arial;
}

.services h3{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color:black;
}

.myservices p{
    color:#222;
}

.myservices{
    border: 2px solid var(--main-color);
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-right: 400px;
    cursor: pointer;
}

.myservices:hover{
    background-color: var(--main-color);
    color: #fff;

}



.copyright {
    text-align: center;
    color: var(--main-color);
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.copyright span {
    color: #fcf2e8;
}


